{% extends './layout.html' %}

{% block head %}
<title>Rozvrh</title>
<style>
    li {
        font-size: large;
    }
</style>
{% endblock %}

{% block body %}
<h1>Rozvrh z bakalářů do google kalendáře</h1>
<form action="{% url 'rozvrh:index' %}" method="POST">
    {% csrf_token %}
    {{ form.as_ul }}
    {% if form %}
    <input type="submit">
    {% endif %}
</form>
<h3>{{ worked }}</h3>
<a href="https://accounts.google.com/o/oauth2/auth?client_id=669046485288-hk0o6915jn4givcqe1bfiso29i7fle67.apps.googleusercontent.com&redirect_uri=http%3A%2F%2Flocalhost%3A8090%2F&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcalendar&access_type=offline&response_type=code" target="_blank">Authenticate</a>
{% endblock %}

